$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;
$manrove: "Manrope", sans-serif;

//colors
$naranja: #D87D4A;
$naranja-hover: #FBAF85;
$negro: #101010;
$gris:#F1F1F1;
$gris-transparente: #FAFAFA;
$blanco: #FFFFFF;
$negro-absoluto: #000000;
