.mark1{
    header{
        background-color: $negro;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .container-header{
            max-width: 1440px;
            width: 100%;
            padding: 32px 24px 32px 24px;
            @include breakpoint("tablet"){
                padding: 32px 40px;
            }
            @include breakpoint("desktop"){
                padding:52px 140px;
            }
            nav{
                @include breakpoint("desktop"){
                    display: grid;
                    grid-template-areas: 
                    "primero segundo tercero";

                    .logoPrincipal{
                        grid-area: primero;
                    }
                    .mobilDesplegable{
                        grid-area: segundo;
                    }
                    .icon-shopping{
                        grid-area: tercero;
                    }
                    grid-template-columns: 0.5fr 1fr 0fr;
                    align-items: center;
                }
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .icon-nav-mobile{
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;
                    @include breakpoint("desktop"){
                        display:none;
                    }
                }
                .icon-close{
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;
                    color: red;
                    @include breakpoint("desktop"){
                        display:none;
                    }
                }
                .mobilDesplegable{
                    @include breakpoint("desktop"){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: initial;
                        padding:0%;
                        position: relative;
                        top: auto;
                        width: auto;
                        height: auto;
                        background-color: $negro;
                    }
                    z-index: 2;
                    list-style: none;
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap:30px;
                    position: absolute;
                    left:0%;
                    top:150%;
                    background-color: $blanco;
                    padding: 40px ;
                    width: 100%;
                    @include breakpoint("tablet"){
                        width: 60%;
                    }
                    height: 50vh;
                    border-radius: 8px;
                    a{
                        color:$negro;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 18px;
                        padding: 8px 24px;
                        width: 100%;
                        @include breakpoint("desktop"){
                            color:$blanco;
                            font-size: 0.8rem;
                            padding: 0%;
                            font-weight: normal;
                        }
                        
                        &:hover{
                            background-color:$naranja ;
                            @include breakpoint("desktop"){
                                background-color: $negro;
                                color:$naranja;
                            }
                        }
                    }
                }
                .icon-shopping{
                    position: relative;
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;
                    &::after{
                        content:attr(data-content);
                        text-align: center;
                        vertical-align: center;
                        font-size: 1rem;
                        padding: 1px 4px 4px 4px;
                        border-radius: 50%;
                        right: -80%;
                        top: -50%;
                        background-color: $naranja;
                        position: absolute;
                        z-index: 3px;
                    }
                }
                .carrito{
                    z-index: 1;
                    position: relative;
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    background-color:$blanco;
                    right:0%;
                    top:150%;
                    width: 100%;
                    @include breakpoint("tablet"){
                        width: 60%;
                    }
                    @include breakpoint("desktop"){
                        width: 35%;
                    }
                    height: auto;
                    padding: 32px 28px;
                    border-radius: 8px;
                    .cabecera{
                        display: flex;
                        background-color: $blanco;
                        justify-content: space-between;
                        align-items: center;
                        h2{
                            font-size: 1rem;
                        }
                        p{
                            &:hover{
                                color:$naranja;
                            }
                            cursor: pointer;
                        }
                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 24px;
                        .precio{
                            color:$negro;
                            font-weight: bold;
                        }
                    }
                    a{
                        
                        text-align: center;
                        position:sticky;
                        bottom: 0;
                        text-decoration: none;
                        color:$blanco;
                        padding:15px 30px;
                        background-color: $naranja;
                        &:hover{
                            background-color: $naranja-hover;
                        }
                    }
                }
            }
            
        }
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            max-width: 1440px;
            width: 100%;
            @include breakpoint("tablet"){
                padding: 32px 40px;
            }
            @include breakpoint("desktop"){
                padding:32px 140px;
            }
            padding: 24px;
            a{
                text-decoration: none;
                color: #6e6e6e;
                &:hover{
                    color: $naranja;
                }
            }
        }
        .container-main{
            max-width: 1440px;
            width: 100%;
            @include breakpoint("tablet"){
                padding: 32px 40px;
            }
            @include breakpoint("desktop"){
                padding:32px 140px;
            }
            width: 100%;
            padding:30px 24px;
            .nuevosHeadphones{
                display: flex;
                flex-direction: column;
                gap:90px;
                .mark2{
                    @include breakpoint("tablet"){
                        display: grid;
                        grid-template-columns: 0.7fr 1fr;
                    }
                    @include breakpoint("desktop"){
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        column-gap: 125px;
                        
                    }
                    display: flex;
                    flex-direction: column;
                    gap:32px;
                    figure{
                        background-color: $gris;
                        border-radius: 8px;
                        padding: 40px 54px 68px 54px;
                        text-align: center;
                        @include breakpoint("tablet"){
                            display: flex;
                        }
                        img{
                            @include breakpoint("tablet"){
                                width: 100%;
                            }
                            width: 70%;
                            filter: drop-shadow(0px 38px 23px rgba(0, 0, 0, 0.574))
                        }
                    }
                    div{
                        @include breakpoint("desktop"){
                            align-items: start;
                            justify-content: center;
                        }
                        text-align: left;
                        display: flex;
                        flex-direction: column;
                        padding: 24px 0px;
                        gap:24px;
                        h3{
                            color: $naranja;
                            font-size: 1rem;
                            letter-spacing:1dvh;
                            font-weight: normal;
                        }
                        h2{
                            @include breakpoint("desktop"){
                                padding:0px;
                                width: 60%;
                                text-align: start;
                            }
                            font-size: 2rem;
                            text-align: left;
                        }
                        p{
                            color: #6e6e6e;
                            @include breakpoint("desktop"){
                                padding:0px;
                                width: 90%;
                                text-align: start;
                            }
                        }
                        .precio{
                            color: $negro;
                            font-weight: bold;
                        }
                        a{
                            
                            width: max-content;
                            text-decoration: none;
                            color:$blanco;
                            padding:15px 30px;
                            background-color: $naranja;
                            &:hover{
                            background-color: $naranja-hover;
                            }
                        }
                    }
                }
                .info-producto{
                    @include breakpoint("desktop"){
                        display: grid;
                        grid-template-columns: 1.2fr 1fr;
                        gap:120px;
                        margin-top:80px;
                        margin-bottom: 80px;
                    }
                    display: flex;
                    flex-direction: column;
                    gap:88px;
                    .features{
                        display: flex;
                        flex-direction: column;
                        gap:24px;
                        @include breakpoint("desktop"){
                            gap:32px;
                        }
                        p{
                            color: #6e6e6e;
                        }
                    }
                    .inthebox{
                        @include breakpoint("tablet"){
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                        }
                        @include breakpoint("desktop"){
                            display: flex;
                            flex-direction: column;
                            gap:32px;
                        }
                        h2{
                            @include breakpoint("desktop"){
                                margin-bottom: 0%;
                            }
                            margin-bottom: 24px;
                        }
                        div{
                            padding: 0px;
                            p{
                                display: grid;
                                grid-template-columns: 0.1fr 1fr;
                                gap:20px;
                                color:#6e6e6e;
                                span{
                                    color:$naranja;
                                }
                            }
                            
                        }
                        
                    }
                }
            }
            .photos{
                @include breakpoint("tablet"){
                    display: grid;
                    gap:18px;
                    grid-template-areas:
                    "image1 image3"
                    "image2 image3";
                    grid-template-columns: 1fr 1.5fr;
                    .img1{
                        grid-area: image1;
                    }
                    .img2{
                        grid-area: image2;
                    }
                    .img3{
                        grid-area:image3;
                    }
                    picture{
                        img{
                            width:100%;
                            height: 100%;
                        }
                    }
                }
                display: flex;
                flex-direction: column;
                gap:20px;
                margin-bottom: 120px;
                text-align: center;
            }
            aside{
                @include breakpoint("desktop"){
                    margin-top: 50px;
                    margin-bottom: 200px;
                }
                section{
                    @include breakpoint("tablet"){
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap:10px;
                    }
                }
                margin-bottom: 120px;
                display: flex;
                flex-direction: column;
                gap: 50px;
                h2{
                    text-align: center;
                }
                article{
                    figure{
                        background-color: $gris;
                        padding: 15px;
                        border-radius: 8px;
                        text-align: center;
                        @include breakpoint("tablet"){
                            min-width: 200px;
                            min-height: 200px;
                            padding: 50px;
                            width: 100%;
                        }
                        @include breakpoint("desktop"){
                            min-width: 326px;
                            min-height: 386px;
                            display:flex;
                            justify-content: center;
                            width: 100%;
                        }
                        img{
                            @include breakpoint("desktop"){
                                width: 20dvh;
                            }
                            filter:drop-shadow(0px 14px 10px rgba(0, 0, 0, 0.574));
                        }
                    }
                    div{
                        @include breakpoint("tablet"){
                            padding: 0%;
                        }
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h3{
                            @include breakpoint("tablet"){
                                margin-top: 20px;
                            }
                            @include breakpoint("desktop"){
                                margin-top: 40px;
                                font-size: 1.5rem;
                            }
                            text-align: center;
                            margin-bottom: 32px;
                        }
                        a{
                            width: max-content;
                            text-decoration: none;
                            
                            color:$blanco;
                            padding:15px 30px;
                            background-color: $naranja;
                            &:hover{
                                background-color: $naranja-hover;
                            }
                        }
                    }
                }
            }
            .productos{
                @include breakpoint("tablet"){
                    display: flex;
                    flex-direction: initial;
                    gap:10px;
                }
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:86px;
                article{
                    @include breakpoint("tablet"){
                        min-width: 225px;
                        min-height: 246px;
                        width: 100%;
                    }
                    @include breakpoint("desktop"){
                        min-width: 301px;
                        min-height: 246px;
                        width: 100%;   
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    background-color: $gris;
                    border-radius: 12px;
                    padding-bottom: 22px;
                    figure{
                        img{
                            filter:drop-shadow(0px 38px 23px rgba(0, 0, 0, 0.574));
                        }
                        margin-top: -55px;
                        margin-bottom: 35px;
                    }
                    h2{
                        font-size: 1rem;
                    }
                    div{
                        margin-top: 20px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;
                        a{
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                            text-decoration: none;
                            span{
                                color: #6e6e6e;
                            }
                            color: $naranja;
                            &:hover{
                                color:$naranja;
                            }
                            &:hover span{
                                color:$naranja;
                            }
                        }
                    }
                    
                }
            }
        }
        .info{
            @include breakpoint("desktop"){
                display: grid;
                grid-template-areas: "info imagen";
                grid-template-columns: 1fr 1fr;
                picture{
                    grid-area: imagen;
                }
                div{
                    grid-area:info;
                }
                margin-top: 160px;
                margin-bottom: 150px;
            }
            margin-top:120px;
            display: flex;
            flex-direction: column;
            gap:40px;
            picture{
                width: cover;
                img{
                    width: 100%
                }
            }
            div{
                @include breakpoint("tablet"){
                    padding: 0px 48px;
                }
                @include breakpoint("desktop"){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: start;
                }
                text-align: center;
                h2{
                    @include breakpoint("tablet"){
                        font-size: 2.5rem;
                    }
                    @include breakpoint("desktop"){
                        font-size: 2rem;
                    }
                    font-size: 2rem;
                    span{
                        color:$naranja;
                    }
                    margin-bottom: 32px;
                }
            }
            p{
                color:#6e6e6e;
            }
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $negro;
        &::before{
            content:"";
            margin-left: auto;
            margin-right: auto;
            width: 25%;
            height: 5px;
            background-color: $naranja;
            position: absolute;
            top: 0.001%;
            right: 38%;
            z-index: 3px;
        }
        .container-footer{
            max-width: 1440px;
            width: 100%;
            @include breakpoint("tablet"){
                padding: 52px 40px;
                justify-content: start;
                align-items: start;
            }
            @include breakpoint("desktop"){
                padding:75px 140px;
            }
            padding: 52px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:48px;
            header{
                @include breakpoint("tablet"){
                    align-items: start;
                }
                @include breakpoint("desktop"){
                    width: 100%;
                    flex-direction: initial;
                    align-items: center;
                    justify-content: space-between;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:48px;
                nav{
                    @include breakpoint("tablet"){
                        flex-direction: initial;
                        align-items: start;
                        justify-content: start;
                        
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap:16px;
                    @include breakpoint("desktop"){
                        gap:34px;
                    }
                    a{
                        text-decoration: none;
                        color:white;
                        font-size: 0.8rem;
                        font-weight: bold;
                        letter-spacing: 0.5vh;
                        &:hover{
                            color:$naranja;
                        }
                    }
                }
            }
            div{
                @include breakpoint("tablet"){
                    text-align: start;
                }
                @include breakpoint("desktop"){
                    width: 50%;
                    gap: 56px;
                }
                text-align: center;
                color:#6e6e6e;
                display: flex;
                flex-direction: column;
                gap:32px;
            }
            .contacto{
                @include breakpoint("tablet"){
                    
                    margin-left: auto;
                    margin-right: auto;
                }
                display: flex;
                flex-direction: initial;
                justify-content: center;
                align-items: center;
                @include breakpoint("desktop"){
                    gap:24px;
                }
                a{
                    text-decoration: none;
                    font-size: 2rem;
                    color: $blanco;
                    &:hover{
                        transform: scale(1.2);
                        color:$naranja;
                    }
                }
            }
        }
    }
}